<div class="pad-20-left">
  <%= render 'dinners/dinner_attributes' %>

  <h3>Invite Guests</h3>
   
  <% if @available_users.empty? %>
    <%= "No more users to invite :(" %>
  <% else %>
    <%= render 'form' %>
  <% end %>
  <br>

   
  <p>
  <%= link_to "Back", @dinner %>
  </p>
</div>