<div class="jumbotron tinted">
  <h1>Host a Dinner Party</h1>
  <p><strong>Take the hassle out of planning a dinner party!</strong></p>
  
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <h2 class="center">Make Party Planning Fun Again</h2>
    <p class="center">Create a menu, invite your guests, and host your classiest soiree yet.</p>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <h2 class="center">Crowdsource Your Menu</h2>
    <p class="center">Let your guests choose what they'll bring to your party&#8212;without doubling up on dishes!</p>
  </div>
</div>



<p class="center"><a class="btn btn-primary btn-lg" href="<%= login_path %>">Log In with Facebook</a></p>