<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>Create a New Dinner Party</h2>
      <%= render 'form' %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>