<h1>Your Menu</h1>
<p>
<h3>Main Dishes</h3>
<ul>
<% @main_dishes.each do |main_dish| %>
  <li><%= main_dish.name %></li>
<% end %>
</ul>
</p>

<p>
<h3>Salads</h3>
<ul>
<% @salads.each do |salad| %>
  <li><%= salad.name %></li>
<% end %>
</ul>
</p>

<p>
<h3>Appetizers</h3>
<ul>
<% @appetizers.each do |appetizer| %>
  <li><%= appetizer.name %></li>
<% end %>
</ul>
</p>

<p>
<h3>Desserts</h3>
<ul>
<% @dessert.each do |dessert| %>
  <li><%= dessert.name %></li>
<% end %>
</ul>
</p>