body {
  background-image: url('confectionary.png');
  background-repeat: repeat-x repeat-y;
}

.jumbotron{
  background-image: image-url('summer-party');
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: grayscale(40%);
  color: white;
  text-shadow: 2px 2px #000;
  text-align: center;
  padding: 100px 0px;
}

.pad-20-left{
  padding-left:20px;
}

.float-left-extra-padding{
  float:left;
  margin-right:115px;
}

.float-left-medium-padding{
  float:left;
  margin-right:5%;
}

.float-left{
  float:left;
  margin-right:10px;
}

.dashed-border-bottom{
  margin-bottom:3px;
  padding-bottom:3px;
  border-bottom-style: dotted;
  border-width:1px;
}

.width-400{
  width:400px;
}

.margin-10-right{
  margin-right:10px;  
}

footer{
  height:100px;
}

.navbar{
  margin-bottom:0px;
  background-color: rgb(44, 59, 69);
}


.center {
  text-align:center;
}

.btn-lg {
  padding: 15px 20px;
  margin: 50px;
}

